Package: com.marcosero.snoozeorstop
Name: SnoozeOrStop
Depends: mobilesubstrate
Version: 0.3
Architecture: iphoneos-arm
Description: Are you tired to slide to deactivate alarm every day? Adds the button to stop alarm in Lockscreen or stop it with lock button!
Maintainer: Marco Sero <sero.marco@gmail.com>
Author: Marco Sero
Section: Tweaks
Website: http://www.marcosero.com/
