<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SnoozeOrStop Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.marcosero.snoozeorstop</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Add stop button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.marcosero.snoozeorstop</string>
			<key>key</key>
			<string>Lock</string>
			<key>label</key>
			<string>Stop with lock</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Please support my tweaks</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy me a beer/coffee!</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SnoozeOrStop v0.3 © 2011 Marco Sero.</string>
		</dict>
	</array>
	<key>title</key>
	<string>SnoozeOrStop Settings</string>
</dict>
</plist>
